/*footer*/
@font-face {
 font-family: "Montserrat";
 src: url("<?php echo get_template_directory_uri();?>/Font/Montserrat/Montserrat-Regular.ttf") format("tff"),
      url("<?php echo get_template_directory_uri();?>/Font/Montserrat/Montserrat-Regular.ttf") format("tff");
}

footer {
  background-color: #C4C4C4;
}

.logo_footer img{
  position: relative;
  width: 11%;
}

.link img{
  position: relative;
  width: 10%;
  margin-top:1%;
}

.nav_footer ul li {
  color: #FFFFFF; text-decoration: none;
  margin-bottom:1%;
  text-align: right;
  margin-right: 1%;
}
.nav_footer ul li a {
  color: #FFFFFF; text-decoration: none; font-family: "Montserrat", sans-serif;
  font-weight:600 ;
  font-size: 18px;
}
/*--------vertical line-------*/

.nav_footer ul{
  position:relative;
}
.nav_footer ul:before{
  bottom: 1%;
  position:absolute;
  content:'';
  display: block;
  width:2px;
  height:75px;
  background-color:#FFFFFF;
  right:0;
}

.tagline {
  text-align:center;
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  font-weight:600 ;
  font-size: 18px;
  margin-top:4%;
}

.tagline p{
  position:relative;
}
/*--------vertical line-------*/

.tagline p:before{

  margin-top: 0.4%;
  position:absolute;
  left:30%;
  content:'';
  display: block;
  width:50px;
  height:2px;
  background-color:#FFFFFF;
}
