/*footer*/
@font-face {
 font-family: "Montserrat";
 src: url("<?php echo get_template_directory_uri();?>/Font/Montserrat/Montserrat-Regular.ttf") format("tff"),
        url("<?php echo get_template_directory_uri();?>/Font/Montserrat/Montserrat-Regular.ttf") format("tff");
}

footer {
  background-color: #C4C4C4;
  height:310px;
}


.logo_footer{
  position: relative;
  width: 9%;
  margin-left: 13%;
  margin-right: 1%;
  margin-top: 2%;

}

.text1 img{
  position: relative;
  width: 8%;
  margin-left:13%;
  margin-top:1%;
}

.nav_footer ul li {
  color: #FFFFFF; text-decoration: none;
  margin-left:80%;
  margin-bottom:1%;
}
.nav_footer ul li a {
  color: #FFFFFF; text-decoration: none; font-family: "Montserrat", sans-serif;
  font-weight:600 ;
  font-size: 18px;


}
.nav_footer ul:before{
  margin-left:89%;
  bottom: 1%;
  position:absolute;
  left:0;
  content:'';
  display: block;
  width:2px;
  height:95px;
  background-color:#FFFFFF;
}
.nav_footer ul{
  position:relative;
}


.tagline {
  text-align:center;
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  font-weight:600 ;
  font-size: 18px;
  margin-top:2%;
}
.tagline p{
  position:relative;
}
.tagline p:before{
  margin-left:38%;
  margin-top: 0.4%;
  position:absolute;
  left:0;
  content:'';
  display: block;
  width:50px;
  height:3px;
  background-color:#FFFFFF;

}
