/*tous ce qui va sur le Header*/
@font-face {
 font-family: "Montserrat";
 src: url("<?php echo get_template_directory_uri();?>/Font/Montserrat/Montserrat-Regular.ttf") format("tff"),
        url("<?php echo get_template_directory_uri();?>/Font/Montserrat/Montserrat-Regular.ttf") format("tff");
        font-weight: 400;

}
@font-face {
 font-family: "Montserrat";
 src: url("<?php echo get_template_directory_uri();?>/Font/Montserrat/Montserrat-Medium.ttf") format("tff"),
        url("<?php echo get_template_directory_uri();?>/Font/Montserrat/Montserrat-Medium.ttf") format("tff");
        font-weight: 500;

}
@font-face {
 font-family: "Montserrat";
 src: url("<?php echo get_template_directory_uri();?>/Font/Montserrat/Montserrat-SemiBold.ttf") format("tff"),
        url("<?php echo get_template_directory_uri();?>/Font/Montserrat/Montserrat-SemiBold.ttf") format("tff");
        font-weight: 600;

}
@font-face {
 font-family: "Montserrat";
 src: url("<?php echo get_template_directory_uri();?>/Font/Montserrat/Montserrat-Bold.ttf") format("tff"),
        url("<?php echo get_template_directory_uri();?>/Font/Montserrat/Montserrat-Bold.ttf") format("tff");
        font-weight: 700;

}


body {font-family: "Montserrat", sans-serif;}




header {
 position: relative;
margin-top: 0;
  background-color: #FFFFFF;
  z-index: 2;
box-shadow: 0px 8px 12px #aaa; }





.logo {width: 35%;
margin-top: 1.2%; margin-bottom: 1.2%;}


.nav div{min-width: 100%; }
.nav {min-width: 33%; flex: auto}

.nav_menu{
  display: inline-flex;
align-items:center;
 justify-content: space-between;
min-width: 50%;
}

header .center_nav .nav .menu {
  display: inline-flex;
  justify-content: space-between; align-items:center;
   color: #96A1AE; text-decoration: none;
   margin-right: 2%;
      margin-left: 2%;
      min-width: 105%;
      flex: auto
}
header .center_nav .nav ul li {
  min-width: auto;
  justify-content: space-between; align-items:center;
   color: #96A1AE; text-decoration: none;
   margin-right: 2%;
      margin-left: 2%;

}
/*.menu li a::after {content: "^"; transform: rotate(180deg);}
*/
.center_nav{
  display: inline-flex; justify-content: space-between;
   align-items:center;}

li a {
color: #96A1AE; text-decoration: none;

font-weight: 600;
font-size: 1.05vw;}


/*--------------------*/
.sub-menu {  position:absolute;
     z-index:999;
max-width:12vw;
min-width:10vw;
 float:left;
     display:none;
     background-color: #FFFFFF;
     border-radius: 12px;
}
.sub-menu li {margin-top: 10%; margin-left: 5%; margin-right: 5%;}
.sub-menu li a {font-size: 1vw; font-weight: 400; }
.sub-menu li:first-child {margin-top: 12%;}
.sub-menu li:last-child {margin-bottom: 15%;}
/* Sous-menu 2 */
.menu li:hover > a,
.menu .sub-menu ul :hover > a{
color: grey;
}
.menu li:hover > ul{display:block;}
.menu .sub-menu:hover {display:block;}
.menu ul li.current_page_item > a,
.menu ul li.current-menu-ancestor > a,
.menu ul li.current-menu-item > a,
.menu ul li.current-menu-parent > a{
    background-color:#FFFFFF;
}

.sub-menu {  animation-duration: 0.5s;
 animation-name: menu_come;}
 @keyframes menu_come {
   from {
     opacity: 0%;
     margin-top: -5px;
    min-width: 10vw;
    max-width: 12vw;
   }

   to {
opacity: 100%;
margin-top: 0px;
  min-width: 10vw;
  max-width: 12vw;
   }
 }

/*-------------------*/




#search {position: absolute;
left: 70%;
top: 110%;
}

.screen-reader-text{ color: #96A1AE; }
#svgSearch{flex: auto; max-width: 8%; margin-left: 5%;}
.loupe_svg {max-width: 40%; float: right;}

.loupe_svg:hover{cursor: pointer;}
