/*tous ce qui va sur le Header*/
@font-face {
 font-family: "Montserrat";
 src: url("<?php echo get_template_directory_uri();?>/Font/Montserrat/Montserrat-Regular.ttf") format("tff"),
        url("<?php echo get_template_directory_uri();?>/Font/Montserrat/Montserrat-Regular.ttf") format("tff");
        font-weight: 400;

}
@font-face {
 font-family: "Montserrat";
 src: url("<?php echo get_template_directory_uri();?>/Font/Montserrat/Montserrat-Medium.ttf") format("tff"),
        url("<?php echo get_template_directory_uri();?>/Font/Montserrat/Montserrat-Medium.ttf") format("tff");
        font-weight: 500;

}
@font-face {
 font-family: "Montserrat";
 src: url("<?php echo get_template_directory_uri();?>/Font/Montserrat/Montserrat-SemiBold.ttf") format("tff"),
        url("<?php echo get_template_directory_uri();?>/Font/Montserrat/Montserrat-SemiBold.ttf") format("tff");
        font-weight: 600;

}
@font-face {
 font-family: "Montserrat";
 src: url("<?php echo get_template_directory_uri();?>/Font/Montserrat/Montserrat-Bold.ttf") format("tff"),
        url("<?php echo get_template_directory_uri();?>/Font/Montserrat/Montserrat-Bold.ttf") format("tff");
        font-weight: 700;

}







header {
  position: relative;
margin-top: 0;
  background-color: #FFFFFF;
box-shadow: 0px 8px 12px #aaa; }





.logo {width: 35%;
margin-top: 1.2%; margin-bottom: 1.2%;}


.nav div{min-width: 100%; }
.nav {min-width: 33%; flex: auto}

.nav_menu{
  display: inline-flex;
align-items:center;
 justify-content: space-between;
min-width: 50%;
}

header .center_nav .nav .menu {display: inline-flex;
  justify-content: space-between; align-items:center;
   color: #96A1AE; text-decoration: none;
   margin-right: 2%;
      margin-left: 2%;
      min-width: 105%;
      flex: auto
}
header .center_nav .nav ul li {
  min-width: auto;
  justify-content: space-between; align-items:center;
   color: #96A1AE; text-decoration: none;
   margin-right: 2%;
      margin-left: 2%;

}
/*.menu li a::after {content: "^"; transform: rotate(180deg);}
*/
.center_nav{
  display: inline-flex; justify-content: space-between;
   align-items:center;}

li a {
color: #96A1AE; text-decoration: none;
font-family: "Montserrat", sans-serif;
font-weight: 600;
font-size: 1.05vw;}

.sub-menu {display: none;}

#search {position: absolute;
left: 70%;
top: 110%;
}

.screen-reader-text{font-family: "Montserrat", sans-serif; color: #96A1AE; }
#svgSearch{flex: auto; max-width: 20%; margin-left: 8%;}
.loupe_svg {max-width: 25%; min-width: 20%;}

.loupe_svg:hover{cursor: pointer;}
