.wrap {
margin-top: 4%;
margin-left: 15%;
margin-right: 10%;
margin-bottom: 4%;
}




/*-------------Section 1-------------------*/
.Sec_one {
display: block;
min-height: 50%;
max-width: 100%;
}

.s1_first {display: inline-flex; justify-content: space-between; align-items:center;}
.s1_bloc_2 {
max-width: 50%;}

.Sec_one p{color: #96A1AE; text-decoration: none; font-family: "Montserrat", sans-serif;
font-weight: 200;
font-size: 128%;
line-height: 35px;}

p strong {font-weight: 700;}

.Sec_one .s1_bloc_1 {max-width: 50%; display: inline-flex;
justify-content: space-between;
}
.Sec_one .s1_bloc_2 {max-width: 50%; display: inline-flex;
justify-content: space-between;
}

.image_so {
height: auto;

 }

/*-------------Section 2-------------------*/
.missions{
  display: block;
  max-height: 60%;
  min-height: 50%;
  max-width: 100%;
  margin-top: 0;
   background-color: #F4F4F4;
}

.missions h1 {
  font-family: "Montserrat", sans-serif;
 font-size: 300%; font-weight: 600; color: #62C4DD;

}


.missions div {display: inline-block; max-width: 40%;}
.t_mission {display: inline-block;}
.tt_mission {display: inline-block;}

/*-------------Section 3-------------------*/
.conferance{
   background-color: #FFFFFF;

}




/*-------------Section 4-------------------*/
.Actu{
   background-color:#F4F4F4;
}



/*-------------Section 5-------------------*/
.partner{
   background-color: #FFFFFF;
}
