.wrap {
margin-left: 10%;
margin-right: 10%;
}

body h1 {
  font-family: "Montserrat", sans-serif;
 font-size: 3vw; font-weight: 600; color: #62C4DD;
 display: inline-block;
 margin-top: 5%;
 margin-left: 2%;
}
.logo_section {display: inline-block;
vertical-align: bottom;
width: 4%;}

/*------------------------------------------------------------------Section 1---------------------------------------------------------*/
.Sec_one {
  background-color: #FFFFFF;
display: block;
min-height: 0.5vw;
max-width: 100%;
}

.s1_bloc_2 {flex-wrap: nowrap;
max-width: 50%;}

.Sec_one p{color: #96A1AE; text-decoration: none; font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 1.28vw;
line-height: 2vw;}

p strong {font-weight: 700;}

.Sec_one .s1_bloc_1 {
  max-width: 45%;
}
.Sec_one .s1_bloc_2 {
  max-width: 50%;
}
.image_so {
    z-index: 1;
clip-path: polygon(15% 0, 100% 0, 100% 100%, 3% 100%);
height: auto;
width: 100%;
 }
.wrap_2{ margin-left: 10%;}
.button {
margin-top: 10%;
  width: 25%;}

/*------------------------------------------------------------------Section 2---------------------------------------------*/



.missions{
  display: block;
  min-height: 50%;
  max-width: 100%;
  margin-top: 0;
   background-color: #F4F4F4;
}

.Flex {display: inline-flex;  justify-content: space-between; align-items:center;}

.t_mission {min-width: 50%;}
.tt_mission {
max-width: 45%;
  min-height: 20%;
}
.content_mission{display: block;}

.margin {margin-top: 8%;
margin-bottom: 8%;
min-height: 20vw;
}
.tt_mission p {
font-size: 1.5vw;
font-weight: 400;
}
.tt_mission p strong {
  font-weight: 600;
  line-height: 2.5vw;

}
/*------menu au choix -----*/
.menu_section_2{
background-color: #FFFFFF;
box-shadow: 0 0 20px #62C4DD;
  color: #96A1AE;
font-size: 1.5vw;
font-weight: bold;
border-radius: 12px;
width: 90%;
height: 4.4vw;
display: -webkit-flex;
display: flex;
align-items: center;
justify-content: space-between;
}
.menu_section_2 p {
  margin-left: 5%;
}
.Bltarget {margin-right: 5%; width: 1.5vw;}

.menu_section_2:hover {cursor: pointer;}

#menu1:hover {box-shadow: 0 0 28px #62C4DD; font-size: 1.6vw;}
#menu2:hover {box-shadow: 0 0 28px #62C4DD; font-size: 1.6vw;}
#menu1 {margin-bottom: 5%;}

#p1_mission{  animation-duration: 1s;
  animation-name: come;}
#p2_mission {  animation-duration: 1s;
  animation-name: come;}
  @keyframes come {
    from {
      opacity: 0%;
      margin-left: 5%;
      width: 100%;
    }

    to {
opacity: 100%;
margin-left: 0%;
width: 100%;
    }
  }


/*-------------------------------------------------------------------------Section 3-------------------------------------------------------*/
.conferance{
   background-color: #FFFFFF;

}
.actu_conf{
box-shadow: 0 0 15px #62C4DD66;
  background-color: #FFFFFF;
  margin-top: 10%;
  margin-bottom: 10%;
min-width: 28%;
max-width: 78%;
max-height: 22vw;
min-height: 22vw;
border-radius: 12px;
margin-left: auto;
margin-right: auto;
}
.splide {margin-bottom: 3%;}
.wrap_conf {
  margin-left: 9%;
margin-right: 9%;}

article {margin-top: 9%;}

/*titre d'article*/

article .h2_conf h2 a{color: black;
font-weight: 500;
font-size: 1vw;
}

.h2_conf{min-height: 4vw;}

/*image*/
.bloc_img_conf{min-height: 10vw; max-height: 12vw;}
article figure img {width: 100%;
  height: auto;
}

article .bloc_img_conf img{width: 100%; height: auto;
border-radius: 12px;
}

/*categorie*/
.category_conf{margin-bottom: 5%;}
/*author*/
.author_conf{font-size: 1vw;
font-weight: 400;
color: #96A1AE;
}
/*--date--*/
.date_conf{
margin-right: auto;
  font-size: 1vw;
font-weight: 400;
float: right;}

/*--------------------------------------------------------------------------Section 4---------------------------------------------*/
.Actu{
   background-color:#F4F4F4;
}
.actu_article{
box-shadow: 0 0 15px #62C4DD66;
  background-color: #FFFFFF;
  margin-top: 10%;
  margin-bottom: 10%;
min-width: 28%;
max-width: 78%;
max-height: 35vw;
min-height: 35vw;
border-radius: 12px;
margin-left: auto;
margin-right: auto;
}
.splide {margin-bottom: 3%;}
.wrap_articles {
  margin-left: 9%;
margin-right: 9%;}

article {margin-top: 9%;}

/*titre d'article*/

article h2 a{color: black;
font-weight: 900;
font-size: 1.3vw;
}

.h2_article{min-height: 4vw;}

/*image*/
.bloc_img_article{min-height: 12vw; max-height: 12vw;}
article figure img {width: 120%;
  height: auto;
}
article img{width: 100%; height: auto;}

/*categorie*/
.category_article{margin-bottom: 5%;}

/*contenu*/
.content {color:#96A1AE;
font-weight: 300;
min-height: 10vw;
line-height: 1.5vw;
font-size: 0.95vw;
}
/*adapter le bouton*/
.article_button{min-width: 50%; max-width: 50%;}
  #button_footer{max-width: 100%;}
    #button_footer p{font-weight: 400;   display: inline;}


/*---------------*/

.Bl_link {display: inline-flex;
  margin-bottom: 4.5%;
  min-width: 50%;
   align-items:center;}

.Bl_link div{margin-right: 0.5%;}
.Bl_link div a {color: #62C4DD;}
.Bl_link .BlLine {margin-right: 4%;}
.BlLine { background-color: #62C4DD; width: 2.5px; height: 2vw;min-height: 2vw; margin-top: -0.5%;}
.Bl_link div img {width: 1.5vw; vertical-align: middle;}

/*--------------------------------------------------------------------------Section 5---------------------------------------------------*/
.partner{
   background-color: #FFFFFF;
}

.logo_partners{width: 100%;
margin-top: 4%;
margin-bottom: 4%;
}
.logo_partners_img {width: 9vw;}
