.wrap {
margin-left: 10%;
margin-right: 10%;
}




/*-------------Section 1-------------------*/
.Sec_one {
display: block;
min-height: 50%;
max-width: 100%;
}

.s1_bloc_2 {flex-wrap: nowrap;
max-width: 50%;}

.Sec_one p{color: #96A1AE; text-decoration: none; font-family: "Montserrat", sans-serif;
font-weight: 200;
font-size: 128%;
line-height: 35px;}

p strong {font-weight: 700;}

.Sec_one .s1_bloc_1 {max-width: 50%;
}
.Sec_one .s1_bloc_2 {max-width: 50%;
}
.image_so {
height: auto;

 }

/*-------------Section 2-------------------*/
.missions{
  display: block;
  max-height: 60%;
  min-height: 50%;
  max-width: 100%;
  margin-top: 0;
   background-color: #F4F4F4;
}

body h1 {
  font-family: "Montserrat", sans-serif;
 font-size: 300%; font-weight: 600; color: #62C4DD;
}

.Flex {display: inline-flex;  justify-content: space-between; align-items:center;}

.t_mission {min-width: 50%;}
.tt_mission {min-width: 50%;}
.content_mission{display: block;
}
.margin {margin-top: 5%;}

/*-------------Section 3-------------------*/
.conferance{
   background-color: #FFFFFF;

}




/*-------------Section 4-------------------*/
.Actu{
   background-color:#F4F4F4;
}



/*-------------Section 5-------------------*/
.partner{
   background-color: #FFFFFF;
}
